body {
	background-color: lightpink;
	color: firebrick;
	font-family: fantasy;
	font-weight: 315;
	font-size: 18px;
}

h1 {
	color: black;
	font-family: fantasy;
	font-weight: bold;
}

a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.container {
	width: 750px;
	margin: 45px auto;
}

.card-white {
	background-color: wheat;
	padding: 45px;
	box-shadow: 5px 15px 35px rgba(0,0,0,0.2);
	border-radius: 10px;
	margin: 20px 0px;
	text-align: center;
}

.btn-red {
	background-color: sandybrown;
	color: darkgrey;
	padding: 12px 17px;
	border-radius: 5px;
}

.btn-red:hover {
	background-color: lightcoral;
	color: darkgrey;
}
 